<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>头部导航栏</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
</head>
<body>
<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="/index.php"><i class="layui-icon" style="font-size: 30px; color: #009688;">&#xe68e;</i></a></li>
    <li id="main"   class="layui-nav-item"><a href="/views/main.php">预约</a></li>
    <li id="orders" class="layui-nav-item">
        <a href="javascript:;">订单</a>
        <dl class="layui-nav-child">
            <dd><a href="/views/historyOrders.php">历史预约记录</a></dd>
            <dd><a href="/views/runningOrders.php">进行中的预约</a></dd>
        </dl>
    </li>
    <li id="me" class="layui-nav-item"><a href="/views/me.php">我的信息</a></li>
    <li id="about" class="layui-nav-item"><a href="/views/about.php">关于</a></li>
</ul>
<script>
    layui.use('element',function(){
        var element = layui.element;
        element.init();
    })
</script>
</body>
</html>