.login-main{
    margin: 200px auto;
    width: 400px;
}
.layui-elip{
    text-align: center;
    font-size: 30px;
    font-family: "YouYuan",sans-serif;
}
.layui-input-block{
    margin: auto;
}
.fr{
    float: right;
}
.room_name{
    width: 15%;
    display: inline;
}
.my-btn-group{
    width: 85%;
    float: right;
}